.save-button {
    background-color:rgb(15, 62, 202);
    color:rgb(6, 2, 22);
    border: nome;
    padding: 10px 20px;
    font-size: 10px;
    cursor: 0,8;
    transition: opacity 0.3s ease;
    border-radius: 5%;
}